.content-container {
  max-width: var(--container-max-width);
  margin: 0 auto;
}

/* Header */
.site-header {
  width: 100%;
  background-color: var(--color-blue-95);
}

.site-header__content {
  display: flex;
  align-items: center;
  padding: var(--header-padding-block) var(--header-padding-inline);
}

.site-logo {
  display: inline-flex;
  align-items: center;
}

/* Main */
.site-main {
  padding-top: 160px;
}

.gallery-section__title {
  font-size: 56px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 0;
  text-align: center;
  color: var(--color-white);
}

.gallery-section__content {
  padding-inline: 140px;
}

.gallery-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: var(--gallery-column-gap);
  row-gap: var(--gallery-row-gap);
  margin-top: var(--gallery-title-spacing);
}
